* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background:  #fafafa;
    font-family: 'Poppins', sans-serif;
}

.sections {
    width: 1120px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "section_one   section_one       section_one"
                         "section_two   section_three     section_four";
}

.section_one {
    grid-area: section_one;
    margin: auto;
    text-align: center;
    width: 500px;
}

.section_one__title {
    color: hsl(234, 12%, 34%);
    font-size: 25px;
    font-weight: 200;

}

.section_one__title2 {
    font-size: 25px;
    padding-bottom: 25px;
    color: hsl(234, 12%, 34%);
}

.section_one__text {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
}

.section_two, .section_four {
    grid-area: section_two;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    height: max-content;
}

.section_two__title {
    color: hsl(234, 12%, 34%);
    margin-bottom: 20px;
}

.section_two__text {
    color: hsl(229, 6%, 66%);
    font-size: 14px;
}

.section_two__imagen {
    text-align: end;
    padding-top: 25px;
}


.section_four {
    grid-area: section_four;
}
.section_four__title {
    color: hsl(234, 12%, 34%);
    margin-bottom: 20px;
}

.section_four__text {
    color: hsl(229, 6%, 66%);
    font-size: 14px;
}

.section_four__imagen {
    text-align: end;
    padding-top: 25px;
    font-size: 14px;
}

.section_three {
    grid-area: section_three;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.subsection {
    width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    height: max-content;
}

.subsection__title {
    color: hsl(234, 12%, 34%);
    margin-bottom: 20px;
}

.subsection__text {
    color: hsl(229, 6%, 66%);
    font-size: 14px;
}

.subsection__imagen {
    text-align: end;
    padding-top: 25px;
}